{{#if this.repos.loading}}
    Loading repos...
{{else if this.repos.error}}
    <div class="alert alert-danger">
        <p>Whoops! Something bad happened...</p>
        <pre>{{this.repos.error.message}}</pre>
    </div>
{{else}}
    <h5>
        <strong>{{this.repos.data.search.repositoryCount}}</strong>
        repos found
    </h5>
    <ul class="list-group">
        {{#each this.repos.data.search.edges as |repo|}}
            <Repo::List::Item @repo={{repo.node}} @isListLoading={{this.notReady}} />
        {{else}}
            <li class="list-group-item text-muted">
                No repositories found for this organization.
            </li>
        {{/each}}
    </ul>
    {{#if this.canLoadMore}}
        <div class="d-grid mt-3">
            <button
                type="button"
                class="btn btn-outline-secondary"
                disabled={{this.notReady}}
                {{on "click" this.loadMore}}
            >
                {{if this.notReady "Loading..." "Load more"}}
            </button>
        </div>
    {{/if}}
{{/if}}